In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import matplotlib.font_manager as fm
import matplotlib as mpl

In [3]:
df = pd.read_csv('./data/hospital_data.csv', encoding='euc-kr')

In [4]:
df

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
0,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,가톨릭대학교인천성모병원,1,상급종합,220000,인천,220003,인천부평구,부평동,21431,...,0,0,1,0,0,0,0,0,126.724899,37.484831
1,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,강릉아산병원,1,상급종합,320000,강원,320100,강릉시,NaN,25440,...,0,0,2,0,0,0,0,0,128.857841,37.818433
2,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,강북삼성병원,1,상급종합,110000,서울,110016,종로구,NaN,3181,...,0,0,4,0,0,0,0,0,126.967750,37.568408
3,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,건국대학교병원,1,상급종합,110000,서울,110023,광진구,NaN,5030,...,0,0,3,0,0,0,0,0,127.071828,37.540376
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,JDU4MTI3MSM1MSMkMSMkMCMkMTMkNDgxOTYxIzExIyQxIy...,힘나는한의원,93,한의원,310000,경기,312300,김포시,NaN,10099,...,0,0,0,1,0,0,0,0,126.704889,37.632495
76245,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzUxIyQxIy...,힘내라한의원,93,한의원,110000,서울,110003,강서구,NaN,7526,...,0,0,0,2,0,0,0,0,126.855061,37.561526
76246,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxMzUxIzUxIyQxIy...,힘찬마디한의원,93,한의원,110000,서울,110002,강동구,천호동,5329,...,0,0,0,1,0,0,0,0,127.126346,37.538174
76247,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkMzgxNzAyIzUxIyQxIy...,힘찬세상경희한의원,93,한의원,110000,서울,110014,용산구,한강로2가,4376,...,0,0,0,0,0,0,1,0,126.968167,37.530005
76248,JDQ4MTYyMiM4MSMkMSMkNCMkMTMkNDgxMzUxIzMxIyQxIy...,힘찬한의원,93,한의원,380000,경남,380500,진주시,NaN,52697,...,0,0,0,1,0,0,0,0,128.064558,35.178636

In [5]:
df.columns

Index(['암호화요양기호', '요양기관명', '종별코드', '종별코드명', '시도코드', '시도코드명', '시군구코드', '시군구코드명',
       '읍면동', '우편번호', '주소', '전화번호', '병원홈페이지', '개설일자', '총의사수', '의과일반의 인원수',
       '의과인턴 인원수', '의과레지던트 인원수', '의과전문의 인원수', '치과일반의 인원수', '치과인턴 인원수',
       '치과레지던트 인원수', '치과전문의 인원수', '한방일반의 인원수', '한방인턴 인원수', '한방레지던트 인원수',
       '한방전문의 인원수', '조산사 인원수', '좌표(X)', '좌표(Y)'],
      dtype='object')

In [6]:
df['시도코드명'].unique()

array(['인천', '강원', '서울', '대구', '경남', '경기', '충남', '부산', '전북', '광주', '대전',
       '충북', '울산', '전남', '경북', '세종시', '제주'], dtype=object)

In [7]:
df['시도코드명'].nunique()

17

In [8]:
# 시도코드명별 몇개의 병원이 있는가?

In [9]:
location = df['시도코드명'].value_counts().index

In [10]:
plt.rc('font', family='NanumGothic')

In [11]:
print ('버전: ', mpl.__version__)
print ('설치 위치: ', mpl.__file__)
print ('설정 위치: ', mpl.get_configdir())
print ('캐시 위치: ', mpl.get_cachedir())

버전:  3.8.0
설치 위치:  C:\ProgramData\anaconda3\envs\streamlit39\lib\site-packages\matplotlib\__init__.py
설정 위치:  C:\Users\505\.matplotlib
캐시 위치:  C:\Users\505\.matplotlib

In [12]:
print ('C:\ProgramData\anaconda3\envs\streamlit39\lib\site-packages\matplotlib\mpl-data\matplotlibrc: ', mpl.matplotlib_fname())

C:\ProgramDatanaconda3\envs\streamlit39\lib\site-packages\matplotlib\mpl-data\matplotlibrc:  C:\ProgramData\anaconda3\envs\streamlit39\lib\site-packages\matplotlib\mpl-data\matplotlibrc

In [13]:
font_list = fm.findSystemFonts(fontpaths=None, fontext='ttf')

In [14]:
print(len(font_list))

505

In [15]:
[f.name for f in matplotlib.font_manager.fontManager.ttflist if 'Nanum' in f.name]

NameError: name 'matplotlib' is not defined

In [ ]:
font_list

In [ ]:
mpl.get_cachedir()

In [ ]:
rm -rf /home/voda/.cache/matplotlib/*

In [ ]:
import matplotlib
matplotlib.font_manager._rebuild()

In [ ]:
import matplotlib.font_manager as fm
import warnings
warnings.filterwarnings(action='ignore') 

path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf' # 나눔 고딕
font_name = fm.FontProperties(fname=path, size=10).get_name() # 기본 폰트 사이즈 : 10
plt.rc('font', family=font_name)
fm._rebuild()

In [ ]:
plt.figure(figsize=(7,9))
sb.countplot(data=df, y='시도코드명', order=location)
plt.title('지역별 병원 수')
plt.xlabel('병원 수')
plt.ylabel('지역')
plt.show()

In [ ]:
# 시도코드명별 비율을 파이차트로 나타내라

In [ ]:
location1 = df['시도코드명'].value_counts()

In [ ]:
location1.to_frame()

In [ ]:
plt.figure(figsize=(7,7))
plt.pie(location1, autopct='%.1f', startangle=90, wedgeprops={'width':0.7})
plt.title('지역별 병원 수')
plt.legend(location1.index)
plt.show()

In [ ]:
df

In [ ]:
df = df.iloc[:,1:28]

In [ ]:
df

In [ ]:
df.iloc[:,4].unique()

In [ ]:
# 경기 지역내 병원이 가장 많은 구군 중 상위 10곳은 어디인가?

In [ ]:
df['시도코드명'] == '경기'

In [ ]:
gyeonggi = df.loc[df['시도코드명'] == '경기']

In [ ]:
gyeonggi

In [ ]:
gyeonggi['시군구코드명'].value_counts()

In [ ]:
order1 = gyeonggi['시군구코드명'].value_counts().head(10).index

In [ ]:
order1

In [ ]:
sb.countplot(data= df, x='시군구코드명', order=order1)
ax = sb.countplot(data=df, x='시군구코드명', order=order1)
for p in ax.patches:
    height = p.get_height()
    ax.text(x = p.get_x() + p.get_width() / 2, 
            y = height + 20, 
            s = int(height), 
            ha = 'center', 
            size = 9)
ax.set_ylim(0, 1200)
plt.xticks(rotation = 60)
plt.xlabel('지역')
plt.ylabel('갯수')
plt.show()

In [ ]:
df

In [ ]:
# 상급종합 병원 수의 히스토그램 그리기

In [ ]:
df['종별코드명']=='상급종합'

In [ ]:
df.loc[df['종별코드명']=='상급종합']

In [ ]:
tgen_hos = df.loc[df['종별코드명']=='상급종합']

In [ ]:
tgen_hos.describe()

In [ ]:
tgen_hos['총의사수'].describe()

In [ ]:
plt.hist(data=tgen_hos, x='총의사수', rwidth=0.9, bins=20)
plt.show()

In [ ]:
df

In [ ]:
df['종별코드명'].unique()

In [ ]:
df['종별코드명'].nunique()

In [ ]:
df = pd.read_csv('./data/hospital_data.csv', encoding='euc-kr')

In [ ]:
df_location = df.iloc[:,[28,29]]

In [ ]:
df_location

In [ ]:
df_location = df.rename(columns={'좌표(Y)':'lat','좌표(X)':'lon'})

In [ ]:
df_location = df_location[['lat','lon']]

In [ ]:
df_location

In [ ]:
df

In [ ]:
df_search = df.iloc[:,[1,10,11,12,28,29]]

In [ ]:
df_search = df_search.rename(columns={'요양기관명':'병원명','좌표(Y)':'lat','좌표(X)':'lon'})

In [ ]:
df_search

In [ ]:
df_search = df_search[['병원명','주소','전화번호','병원홈페이지','lat','lon']]

In [ ]:
df_search

In [ ]:
df_search['병원홈페이지'] = df_search['병원홈페이지'].fillna('-')

In [ ]:
df_search

In [ ]:
hos_name = df_search['병원명'].str.contains('아산')

In [ ]:
hos_name

In [ ]:
df2 = df_search.loc[hos_name]

In [ ]:
df2

In [ ]:
df2.loc[:, 'lat'].isin(['-']) == True

In [ ]:
df2

In [ ]:
df2.loc[:,'lat':'lon'].dropna()

In [ ]:
mapdata = df2.loc[:,'lat':'lon'].dropna()

In [ ]:
mapdata

In [ ]:
df2.loc[df2.loc[:,'lat':'lon'] != '-']

In [16]:
df

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
0,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,가톨릭대학교인천성모병원,1,상급종합,220000,인천,220003,인천부평구,부평동,21431,...,0,0,1,0,0,0,0,0,126.724899,37.484831
1,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,강릉아산병원,1,상급종합,320000,강원,320100,강릉시,NaN,25440,...,0,0,2,0,0,0,0,0,128.857841,37.818433
2,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,강북삼성병원,1,상급종합,110000,서울,110016,종로구,NaN,3181,...,0,0,4,0,0,0,0,0,126.967750,37.568408
3,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,건국대학교병원,1,상급종합,110000,서울,110023,광진구,NaN,5030,...,0,0,3,0,0,0,0,0,127.071828,37.540376
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,JDU4MTI3MSM1MSMkMSMkMCMkMTMkNDgxOTYxIzExIyQxIy...,힘나는한의원,93,한의원,310000,경기,312300,김포시,NaN,10099,...,0,0,0,1,0,0,0,0,126.704889,37.632495
76245,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzUxIyQxIy...,힘내라한의원,93,한의원,110000,서울,110003,강서구,NaN,7526,...,0,0,0,2,0,0,0,0,126.855061,37.561526
76246,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxMzUxIzUxIyQxIy...,힘찬마디한의원,93,한의원,110000,서울,110002,강동구,천호동,5329,...,0,0,0,1,0,0,0,0,127.126346,37.538174
76247,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkMzgxNzAyIzUxIyQxIy...,힘찬세상경희한의원,93,한의원,110000,서울,110014,용산구,한강로2가,4376,...,0,0,0,0,0,0,1,0,126.968167,37.530005
76248,JDQ4MTYyMiM4MSMkMSMkNCMkMTMkNDgxMzUxIzMxIyQxIy...,힘찬한의원,93,한의원,380000,경남,380500,진주시,NaN,52697,...,0,0,0,1,0,0,0,0,128.064558,35.178636

In [27]:
df['총의사수'].max()

1680

In [65]:
df['총의사수'].value_counts().head(5)

총의사수
1    57625
2     8544
3     2678
0     2599
4     1453
Name: count, dtype: int64

In [34]:
doc_max = df.loc[df['총의사수'] == df['총의사수'].max(), ]

In [35]:
doc_max

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
30,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,재단법인아산사회복지재단 서울아산병원,1,상급종합,110000,서울,110018,송파구,NaN,5505,...,0,20,17,0,0,0,0,0,127.107935,37.526576

In [43]:
doc_max['요양기관명']

30    재단법인아산사회복지재단 서울아산병원
Name: 요양기관명, dtype: object

In [ ]:
# 연습문제

In [ ]:
df['시도코드명'] == '인천'

In [ ]:
df.loc[df['시도코드명'] == '인천']

In [ ]:
incheon = df.loc[df['시도코드명'] == '인천']

In [ ]:
incheon['시군구코드명'].value_counts()

In [ ]:
data1 = incheon['시군구코드명'].value_counts()

In [ ]:
data1.describe()

In [ ]:
data1