In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import matplotlib.font_manager as fm
import matplotlib as mpl

In [3]:
df = pd.read_csv('./data/hospital_data.csv', encoding='euc-kr')

In [4]:
df

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
0,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,가톨릭대학교인천성모병원,1,상급종합,220000,인천,220003,인천부평구,부평동,21431,...,0,0,1,0,0,0,0,0,126.724899,37.484831
1,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,강릉아산병원,1,상급종합,320000,강원,320100,강릉시,NaN,25440,...,0,0,2,0,0,0,0,0,128.857841,37.818433
2,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,강북삼성병원,1,상급종합,110000,서울,110016,종로구,NaN,3181,...,0,0,4,0,0,0,0,0,126.967750,37.568408
3,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,건국대학교병원,1,상급종합,110000,서울,110023,광진구,NaN,5030,...,0,0,3,0,0,0,0,0,127.071828,37.540376
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,JDU4MTI3MSM1MSMkMSMkMCMkMTMkNDgxOTYxIzExIyQxIy...,힘나는한의원,93,한의원,310000,경기,312300,김포시,NaN,10099,...,0,0,0,1,0,0,0,0,126.704889,37.632495
76245,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzUxIyQxIy...,힘내라한의원,93,한의원,110000,서울,110003,강서구,NaN,7526,...,0,0,0,2,0,0,0,0,126.855061,37.561526
76246,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxMzUxIzUxIyQxIy...,힘찬마디한의원,93,한의원,110000,서울,110002,강동구,천호동,5329,...,0,0,0,1,0,0,0,0,127.126346,37.538174
76247,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkMzgxNzAyIzUxIyQxIy...,힘찬세상경희한의원,93,한의원,110000,서울,110014,용산구,한강로2가,4376,...,0,0,0,0,0,0,1,0,126.968167,37.530005
76248,JDQ4MTYyMiM4MSMkMSMkNCMkMTMkNDgxMzUxIzMxIyQxIy...,힘찬한의원,93,한의원,380000,경남,380500,진주시,NaN,52697,...,0,0,0,1,0,0,0,0,128.064558,35.178636

In [5]:
df.columns

Index(['암호화요양기호', '요양기관명', '종별코드', '종별코드명', '시도코드', '시도코드명', '시군구코드', '시군구코드명',
       '읍면동', '우편번호', '주소', '전화번호', '병원홈페이지', '개설일자', '총의사수', '의과일반의 인원수',
       '의과인턴 인원수', '의과레지던트 인원수', '의과전문의 인원수', '치과일반의 인원수', '치과인턴 인원수',
       '치과레지던트 인원수', '치과전문의 인원수', '한방일반의 인원수', '한방인턴 인원수', '한방레지던트 인원수',
       '한방전문의 인원수', '조산사 인원수', '좌표(X)', '좌표(Y)'],
      dtype='object')

In [6]:
df['시도코드명'].unique()

array(['인천', '강원', '서울', '대구', '경남', '경기', '충남', '부산', '전북', '광주', '대전',
       '충북', '울산', '전남', '경북', '세종시', '제주'], dtype=object)

In [7]:
df['시도코드명'].nunique()

17

In [8]:
# 시도코드명별 몇개의 병원이 있는가?

In [9]:
location = df['시도코드명'].value_counts().index

In [10]:
plt.rc('font', family='NanumGothic')

In [11]:
print ('버전: ', mpl.__version__)
print ('설치 위치: ', mpl.__file__)
print ('설정 위치: ', mpl.get_configdir())
print ('캐시 위치: ', mpl.get_cachedir())

버전:  3.8.0
설치 위치:  C:\ProgramData\anaconda3\envs\streamlit39\lib\site-packages\matplotlib\__init__.py
설정 위치:  C:\Users\505\.matplotlib
캐시 위치:  C:\Users\505\.matplotlib

In [12]:
print ('C:\ProgramData\anaconda3\envs\streamlit39\lib\site-packages\matplotlib\mpl-data\matplotlibrc: ', mpl.matplotlib_fname())

C:\ProgramDatanaconda3\envs\streamlit39\lib\site-packages\matplotlib\mpl-data\matplotlibrc:  C:\ProgramData\anaconda3\envs\streamlit39\lib\site-packages\matplotlib\mpl-data\matplotlibrc

In [13]:
font_list = fm.findSystemFonts(fontpaths=None, fontext='ttf')

In [14]:
print(len(font_list))

505

In [15]:
[f.name for f in matplotlib.font_manager.fontManager.ttflist if 'Nanum' in f.name]

NameError: name 'matplotlib' is not defined

In [ ]:
font_list

In [ ]:
mpl.get_cachedir()

In [ ]:
rm -rf /home/voda/.cache/matplotlib/*

In [ ]:
import matplotlib
matplotlib.font_manager._rebuild()

In [ ]:
import matplotlib.font_manager as fm
import warnings
warnings.filterwarnings(action='ignore') 

path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf' # 나눔 고딕
font_name = fm.FontProperties(fname=path, size=10).get_name() # 기본 폰트 사이즈 : 10
plt.rc('font', family=font_name)
fm._rebuild()

In [ ]:
plt.figure(figsize=(7,9))
sb.countplot(data=df, y='시도코드명', order=location)
plt.title('지역별 병원 수')
plt.xlabel('병원 수')
plt.ylabel('지역')
plt.show()

In [ ]:
# 시도코드명별 비율을 파이차트로 나타내라

In [ ]:
location1 = df['시도코드명'].value_counts()

In [ ]:
location1.to_frame()

In [ ]:
plt.figure(figsize=(7,7))
plt.pie(location1, autopct='%.1f', startangle=90, wedgeprops={'width':0.7})
plt.title('지역별 병원 수')
plt.legend(location1.index)
plt.show()

In [ ]:
df

In [ ]:
df = df.iloc[:,1:28]

In [ ]:
df

In [ ]:
df.iloc[:,4].unique()

In [ ]:
# 경기 지역내 병원이 가장 많은 구군 중 상위 10곳은 어디인가?

In [ ]:
df['시도코드명'] == '경기'

In [ ]:
gyeonggi = df.loc[df['시도코드명'] == '경기']

In [ ]:
gyeonggi

In [ ]:
gyeonggi['시군구코드명'].value_counts()

In [ ]:
order1 = gyeonggi['시군구코드명'].value_counts().head(10).index

In [ ]:
order1

In [ ]:
sb.countplot(data= df, x='시군구코드명', order=order1)
ax = sb.countplot(data=df, x='시군구코드명', order=order1)
for p in ax.patches:
    height = p.get_height()
    ax.text(x = p.get_x() + p.get_width() / 2, 
            y = height + 20, 
            s = int(height), 
            ha = 'center', 
            size = 9)
ax.set_ylim(0, 1200)
plt.xticks(rotation = 60)
plt.xlabel('지역')
plt.ylabel('갯수')
plt.show()

In [ ]:
df

In [ ]:
# 상급종합 병원 수의 히스토그램 그리기

In [ ]:
df['종별코드명']=='상급종합'

In [ ]:
df.loc[df['종별코드명']=='상급종합']

In [ ]:
tgen_hos = df.loc[df['종별코드명']=='상급종합']

In [ ]:
tgen_hos.describe()

In [ ]:
tgen_hos['총의사수'].describe()

In [ ]:
plt.hist(data=tgen_hos, x='총의사수', rwidth=0.9, bins=20)
plt.show()

In [ ]:
df

In [ ]:
df['종별코드명'].unique()

In [ ]:
df['종별코드명'].nunique()

In [ ]:
df = pd.read_csv('./data/hospital_data.csv', encoding='euc-kr')

In [ ]:
df_location = df.iloc[:,[28,29]]

In [ ]:
df_location

In [ ]:
df_location = df.rename(columns={'좌표(Y)':'lat','좌표(X)':'lon'})

In [ ]:
df_location = df_location[['lat','lon']]

In [ ]:
df_location

In [ ]:
df

In [ ]:
df_search = df.iloc[:,[1,10,11,12,28,29]]

In [ ]:
df_search = df_search.rename(columns={'요양기관명':'병원명','좌표(Y)':'lat','좌표(X)':'lon'})

In [ ]:
df_search

In [ ]:
df_search = df_search[['병원명','주소','전화번호','병원홈페이지','lat','lon']]

In [ ]:
df_search

In [ ]:
df_search['병원홈페이지'] = df_search['병원홈페이지'].fillna('-')

In [ ]:
df_search

In [ ]:
hos_name = df_search['병원명'].str.contains('아산')

In [ ]:
hos_name

In [ ]:
df2 = df_search.loc[hos_name]

In [ ]:
df2

In [ ]:
df2.loc[:, 'lat'].isin(['-']) == True

In [ ]:
df2

In [ ]:
df2.loc[:,'lat':'lon'].dropna()

In [ ]:
mapdata = df2.loc[:,'lat':'lon'].dropna()

In [ ]:
mapdata

In [ ]:
df2.loc[df2.loc[:,'lat':'lon'] != '-']

In [16]:
df

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
0,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,가톨릭대학교인천성모병원,1,상급종합,220000,인천,220003,인천부평구,부평동,21431,...,0,0,1,0,0,0,0,0,126.724899,37.484831
1,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,강릉아산병원,1,상급종합,320000,강원,320100,강릉시,NaN,25440,...,0,0,2,0,0,0,0,0,128.857841,37.818433
2,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,강북삼성병원,1,상급종합,110000,서울,110016,종로구,NaN,3181,...,0,0,4,0,0,0,0,0,126.967750,37.568408
3,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,건국대학교병원,1,상급종합,110000,서울,110023,광진구,NaN,5030,...,0,0,3,0,0,0,0,0,127.071828,37.540376
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,JDU4MTI3MSM1MSMkMSMkMCMkMTMkNDgxOTYxIzExIyQxIy...,힘나는한의원,93,한의원,310000,경기,312300,김포시,NaN,10099,...,0,0,0,1,0,0,0,0,126.704889,37.632495
76245,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzUxIyQxIy...,힘내라한의원,93,한의원,110000,서울,110003,강서구,NaN,7526,...,0,0,0,2,0,0,0,0,126.855061,37.561526
76246,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxMzUxIzUxIyQxIy...,힘찬마디한의원,93,한의원,110000,서울,110002,강동구,천호동,5329,...,0,0,0,1,0,0,0,0,127.126346,37.538174
76247,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkMzgxNzAyIzUxIyQxIy...,힘찬세상경희한의원,93,한의원,110000,서울,110014,용산구,한강로2가,4376,...,0,0,0,0,0,0,1,0,126.968167,37.530005
76248,JDQ4MTYyMiM4MSMkMSMkNCMkMTMkNDgxMzUxIzMxIyQxIy...,힘찬한의원,93,한의원,380000,경남,380500,진주시,NaN,52697,...,0,0,0,1,0,0,0,0,128.064558,35.178636

In [45]:
df['총의사수'].max()

1680

In [46]:
df['총의사수'].sort_values(ascending=False).head(3)

30    1680
16    1564
15    1365
Name: 총의사수, dtype: int64

In [47]:
doc_max = df.loc[df['총의사수'] == df['총의사수'].max(), ]

In [48]:
doc_max

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
30,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,재단법인아산사회복지재단 서울아산병원,1,상급종합,110000,서울,110018,송파구,NaN,5505,...,0,20,17,0,0,0,0,0,127.107935,37.526576

In [50]:
doc_max['요양기관명'].iloc[0]

'재단법인아산사회복지재단 서울아산병원'

In [5]:
df

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
0,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,가톨릭대학교인천성모병원,1,상급종합,220000,인천,220003,인천부평구,부평동,21431,...,0,0,1,0,0,0,0,0,126.724899,37.484831
1,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,강릉아산병원,1,상급종합,320000,강원,320100,강릉시,NaN,25440,...,0,0,2,0,0,0,0,0,128.857841,37.818433
2,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,강북삼성병원,1,상급종합,110000,서울,110016,종로구,NaN,3181,...,0,0,4,0,0,0,0,0,126.967750,37.568408
3,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,건국대학교병원,1,상급종합,110000,서울,110023,광진구,NaN,5030,...,0,0,3,0,0,0,0,0,127.071828,37.540376
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,JDU4MTI3MSM1MSMkMSMkMCMkMTMkNDgxOTYxIzExIyQxIy...,힘나는한의원,93,한의원,310000,경기,312300,김포시,NaN,10099,...,0,0,0,1,0,0,0,0,126.704889,37.632495
76245,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzUxIyQxIy...,힘내라한의원,93,한의원,110000,서울,110003,강서구,NaN,7526,...,0,0,0,2,0,0,0,0,126.855061,37.561526
76246,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxMzUxIzUxIyQxIy...,힘찬마디한의원,93,한의원,110000,서울,110002,강동구,천호동,5329,...,0,0,0,1,0,0,0,0,127.126346,37.538174
76247,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkMzgxNzAyIzUxIyQxIy...,힘찬세상경희한의원,93,한의원,110000,서울,110014,용산구,한강로2가,4376,...,0,0,0,0,0,0,1,0,126.968167,37.530005
76248,JDQ4MTYyMiM4MSMkMSMkNCMkMTMkNDgxMzUxIzMxIyQxIy...,힘찬한의원,93,한의원,380000,경남,380500,진주시,NaN,52697,...,0,0,0,1,0,0,0,0,128.064558,35.178636

In [6]:
df['종별코드명'].unique()

array(['상급종합', '종합병원', '병원', '요양병원', '정신병원', '의원', '치과병원', '치과의원', '조산원',
       '보건소', '보건지소', '보건진료소', '보건의료원', '한방병원', '한의원'], dtype=object)

In [7]:
df['종별코드명'].nunique()

15

In [8]:
df['종별코드명'].value_counts()

종별코드명
의원       35041
치과의원     18882
한의원      14579
보건진료소     1904
요양병원      1432
병원        1406
보건지소      1321
한방병원       545
종합병원       328
정신병원       257
보건소        244
치과병원       236
상급종합        45
보건의료원       15
조산원         14
Name: count, dtype: int64

In [25]:
df.groupby('시도코드명')['종별코드명'].value_counts()

시도코드명  종별코드명
강원     의원       794
       치과의원     422
       한의원      379
       보건진료소    129
       보건지소      98
               ...
충북     종합병원      12
       정신병원      11
       치과병원       4
       상급종합       1
       조산원        1
Name: count, Length: 232, dtype: int64

In [9]:
df_inc = df[df['시도코드명'] == '인천']

In [10]:
df_inc['총의사수'].sort_values(ascending=False).head(3)

26    513
29    394
0     328
Name: 총의사수, dtype: int64

In [11]:
df_inc['총의사수'].max()

513

In [27]:
df.groupby('시도코드명')['총의사수'].max()

시도코드명
강원      409
경기      789
경남      444
경북      126
광주      494
대구      475
대전      488
부산      534
서울     1680
세종시     129
울산      370
인천      513
전남      257
전북      418
제주      244
충남      343
충북      335
Name: 총의사수, dtype: int64

In [34]:
doc_data1 = df.loc[df.groupby(['시도코드명'])['총의사수'].idxmax()]

In [35]:
doc_data1

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
21,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,연세대학교 원주세브란스기독병원,1,상급종합,320000,강원,320400,원주시,NaN,26426,...,7,12,8,0,0,0,0,0,127.945664,37.349001
14,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,분당서울대학교병원,1,상급종합,310000,경기,310403,성남분당구,NaN,13620,...,3,10,10,0,0,0,0,0,127.123251,37.351981
20,JDQ4MTYyMiM4MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,양산부산대학교병원,1,상급종합,380000,경남,381100,양산시,NaN,50612,...,0,0,1,0,0,0,0,0,129.005727,35.328150
288,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,의료법인한성재단포항세명기독병원,11,종합병원,370000,경북,370701,포항남구,NaN,37816,...,0,0,0,0,0,0,0,0,129.362226,36.017717
31,JDQ4MTYyMiM3MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,전남대학교병원,1,상급종합,240000,광주,240001,광주동구,NaN,61469,...,0,8,6,0,0,0,0,0,126.921581,35.141809
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
35,JDQ4MTYyMiM2MSMkMSMkMiMkODkkMzgxMzUxIzExIyQxIy...,충남대학교병원,1,상급종합,250000,대전,250005,대전중구,대사동,35015,...,0,0,3,0,0,0,0,0,127.415363,36.316908
13,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,부산대학교병원,1,상급종합,210000,부산,210006,부산서구,NaN,49241,...,3,3,7,0,0,0,1,0,129.018803,35.100848
30,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,재단법인아산사회복지재단 서울아산병원,1,상급종합,110000,서울,110018,송파구,NaN,5505,...,0,20,17,0,0,0,0,0,127.107935,37.526576
175,JDQ4MTYyMiM2MSMkMSMkMiMkODkkMzgxMzUxIzExIyQxIy...,세종충남대학교병원,11,종합병원,410000,세종시,410000,세종시,NaN,30099,...,0,0,2,0,0,0,0,0,127.257943,36.519513
39,JDQ4MTYyMiM4MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,학교법인 울산공업학원 울산대학교병원,1,상급종합,260000,울산,260002,울산동구,NaN,44033,...,3,4,8,0,0,0,0,2,129.428912,35.520070
26,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQyIy...,의료법인 길의료재단 길병원,1,상급종합,220000,인천,220006,인천남동구,NaN,21565,...,3,3,6,0,0,0,0,0,126.709226,37.452171
44,JDQ4MTYyMiM3MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,화순전남대학교병원,1,상급종합,360000,전남,360022,화순군,NaN,58128,...,0,0,2,0,0,0,0,0,127.002500,35.059433
32,JDQ4MTYyMiM2MSMkMSMkNiMkODkkMzgxMzUxIzExIyQxIy...,전북대학교병원,1,상급종합,350000,전북,350402,전주덕진구,NaN,54907,...,0,0,3,0,0,0,0,0,127.141163,35.847097
321,JDQ4MTYyMiM4MSMkMSMkOCMkODkkMzgxMzUxIzExIyQxIy...,제주대학교병원,11,종합병원,390000,제주,390200,제주시,아라일동,63241,...,0,0,4,0,0,0,0,0,126.545211,33.467110
10,JDQ4MTYyMiM2MSMkMSMkMiMkODkkMzgxMzUxIzExIyQxIy...,단국대학교의과대학부속병원,1,상급종합,340000,충남,340202,천안동남구,NaN,31116,...,0,0,0,0,0,0,0,0,127.172575,36.841590
36,JDQ4MTYyMiM1MSMkMSMkOCMkODkkMzgxMzUxIzExIyQxIy...,충북대학교병원,1,상급종합,330000,충북,330104,청주서원구,NaN,28644,...,0,0,4,0,0,0,0,0,127.461484,36.624224

In [36]:
doc_data1['요양기관명']

21        연세대학교 원주세브란스기독병원
14               분당서울대학교병원
20               양산부산대학교병원
288       의료법인한성재단포항세명기독병원
31                 전남대학교병원
4                  경북대학교병원
35                 충남대학교병원
13                 부산대학교병원
30     재단법인아산사회복지재단 서울아산병원
175              세종충남대학교병원
39     학교법인 울산공업학원 울산대학교병원
26          의료법인 길의료재단 길병원
44               화순전남대학교병원
32                 전북대학교병원
321                제주대학교병원
10           단국대학교의과대학부속병원
36                 충북대학교병원
Name: 요양기관명, dtype: object

In [37]:
doc_data1['요양기관명'].iloc[0]

'연세대학교 원주세브란스기독병원'

In [53]:
doc_data1['총의사수'].max()

1680

In [87]:
doc_data1.sort_values(by=doc_data1.columns[14],ascending=0)

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
30,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,재단법인아산사회복지재단 서울아산병원,1,상급종합,110000,서울,110018,송파구,NaN,5505,...,0,20,17,0,0,0,0,0,127.107935,37.526576
14,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,분당서울대학교병원,1,상급종합,310000,경기,310403,성남분당구,NaN,13620,...,3,10,10,0,0,0,0,0,127.123251,37.351981
13,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,부산대학교병원,1,상급종합,210000,부산,210006,부산서구,NaN,49241,...,3,3,7,0,0,0,1,0,129.018803,35.100848
26,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQyIy...,의료법인 길의료재단 길병원,1,상급종합,220000,인천,220006,인천남동구,NaN,21565,...,3,3,6,0,0,0,0,0,126.709226,37.452171
31,JDQ4MTYyMiM3MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,전남대학교병원,1,상급종합,240000,광주,240001,광주동구,NaN,61469,...,0,8,6,0,0,0,0,0,126.921581,35.141809
35,JDQ4MTYyMiM2MSMkMSMkMiMkODkkMzgxMzUxIzExIyQxIy...,충남대학교병원,1,상급종합,250000,대전,250005,대전중구,대사동,35015,...,0,0,3,0,0,0,0,0,127.415363,36.316908
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
20,JDQ4MTYyMiM4MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,양산부산대학교병원,1,상급종합,380000,경남,381100,양산시,NaN,50612,...,0,0,1,0,0,0,0,0,129.005727,35.328150
32,JDQ4MTYyMiM2MSMkMSMkNiMkODkkMzgxMzUxIzExIyQxIy...,전북대학교병원,1,상급종합,350000,전북,350402,전주덕진구,NaN,54907,...,0,0,3,0,0,0,0,0,127.141163,35.847097
21,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,연세대학교 원주세브란스기독병원,1,상급종합,320000,강원,320400,원주시,NaN,26426,...,7,12,8,0,0,0,0,0,127.945664,37.349001
39,JDQ4MTYyMiM4MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,학교법인 울산공업학원 울산대학교병원,1,상급종합,260000,울산,260002,울산동구,NaN,44033,...,3,4,8,0,0,0,0,2,129.428912,35.520070
10,JDQ4MTYyMiM2MSMkMSMkMiMkODkkMzgxMzUxIzExIyQxIy...,단국대학교의과대학부속병원,1,상급종합,340000,충남,340202,천안동남구,NaN,31116,...,0,0,0,0,0,0,0,0,127.172575,36.841590
36,JDQ4MTYyMiM1MSMkMSMkOCMkODkkMzgxMzUxIzExIyQxIy...,충북대학교병원,1,상급종합,330000,충북,330104,청주서원구,NaN,28644,...,0,0,4,0,0,0,0,0,127.461484,36.624224
44,JDQ4MTYyMiM3MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,화순전남대학교병원,1,상급종합,360000,전남,360022,화순군,NaN,58128,...,0,0,2,0,0,0,0,0,127.002500,35.059433
321,JDQ4MTYyMiM4MSMkMSMkOCMkODkkMzgxMzUxIzExIyQxIy...,제주대학교병원,11,종합병원,390000,제주,390200,제주시,아라일동,63241,...,0,0,4,0,0,0,0,0,126.545211,33.467110
175,JDQ4MTYyMiM2MSMkMSMkMiMkODkkMzgxMzUxIzExIyQxIy...,세종충남대학교병원,11,종합병원,410000,세종시,410000,세종시,NaN,30099,...,0,0,2,0,0,0,0,0,127.257943,36.519513
288,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,의료법인한성재단포항세명기독병원,11,종합병원,370000,경북,370701,포항남구,NaN,37816,...,0,0,0,0,0,0,0,0,129.362226,36.017717

In [88]:
df3 = doc_data1.sort_values(by=doc_data1.columns[14],ascending=0)

In [95]:
db1 = df3.iloc[:,1:28]

In [96]:
db1

,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,주소,...,의과전문의 인원수,치과일반의 인원수,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수
30,재단법인아산사회복지재단 서울아산병원,1,상급종합,110000,서울,110018,송파구,NaN,5505,서울특별시 송파구 올림픽로43길 88 서울아산병원 (풍납동),...,1046,2,0,20,17,0,0,0,0,0
14,분당서울대학교병원,1,상급종합,310000,경기,310403,성남분당구,NaN,13620,"경기도 성남시 분당구 구미로173번길 82 (구미동, 분당서울대학교병원)",...,546,2,3,10,10,0,0,0,0,0
13,부산대학교병원,1,상급종합,210000,부산,210006,부산서구,NaN,49241,부산광역시 서구 구덕로 179 (아미동1가),...,281,2,3,3,7,0,0,0,1,0
26,의료법인 길의료재단 길병원,1,상급종합,220000,인천,220006,인천남동구,NaN,21565,인천광역시 남동구 남동대로774번길 21-0 의료법인길의료재단길병원,...,291,3,3,3,6,0,0,0,0,0
31,전남대학교병원,1,상급종합,240000,광주,240001,광주동구,NaN,61469,광주광역시 동구 제봉로 42 (학동),...,273,0,0,8,6,0,0,0,0,0
35,충남대학교병원,1,상급종합,250000,대전,250005,대전중구,대사동,35015,대전광역시 중구 문화로 282 (대사동),...,279,0,0,0,3,0,0,0,0,0
4,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",...,216,0,0,0,1,0,0,0,0,0
20,양산부산대학교병원,1,상급종합,380000,경남,381100,양산시,NaN,50612,경상남도 양산시 물금읍 금오로 20 (),...,292,1,0,0,1,0,0,0,0,0
32,전북대학교병원,1,상급종합,350000,전북,350402,전주덕진구,NaN,54907,전라북도 전주시 덕진구 건지로 20 (금암동),...,235,0,0,0,3,0,0,0,0,0
21,연세대학교 원주세브란스기독병원,1,상급종합,320000,강원,320400,원주시,NaN,26426,강원도 원주시 일산로 20-0 (일산동),...,217,0,7,12,8,0,0,0,0,0
39,학교법인 울산공업학원 울산대학교병원,1,상급종합,260000,울산,260002,울산동구,NaN,44033,울산광역시 동구 대학병원로 25 울산대학교병원 (전하동),...,232,4,3,4,8,0,0,0,0,2
10,단국대학교의과대학부속병원,1,상급종합,340000,충남,340202,천안동남구,NaN,31116,충청남도 천안시 동남구 망향로 201 (안서동),...,213,0,0,0,0,0,0,0,0,0
36,충북대학교병원,1,상급종합,330000,충북,330104,청주서원구,NaN,28644,충청북도 청주시 서원구 1순환로 776-0 충북대학교병원,...,202,0,0,0,4,0,0,0,0,0
44,화순전남대학교병원,1,상급종합,360000,전남,360022,화순군,NaN,58128,전라남도 화순군 화순읍 서양로 322 (),...,163,0,0,0,2,0,0,0,0,0
321,제주대학교병원,11,종합병원,390000,제주,390200,제주시,아라일동,63241,제주특별자치도 제주시 아란13길 15 (아라일동),...,167,1,0,0,4,0,0,0,0,0
175,세종충남대학교병원,11,종합병원,410000,세종시,410000,세종시,NaN,30099,세종특별자치시 보듬7로 20 세종충남대학교병원 (도담동),...,127,0,0,0,2,0,0,0,0,0
288,의료법인한성재단포항세명기독병원,11,종합병원,370000,경북,370701,포항남구,NaN,37816,경상북도 포항시 남구 포스코대로 351 (대도동),...,123,2,0,0,0,0,0,0,0,0

In [104]:
doc_data1['총의사수'].max()

1680

In [19]:
doc_data1['총의사수'].min()

126

In [31]:
doc_data1['총의사수'].max()/doc_data1['총의사수'].min()

13.333333333333334

In [85]:
doc_data1.iloc[:,14:28]

,총의사수,의과일반의 인원수,의과인턴 인원수,의과레지던트 인원수,의과전문의 인원수,치과일반의 인원수,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수
21,409,12,42,111,217,0,7,12,8,0,0,0,0,0
14,789,5,0,213,546,2,3,10,10,0,0,0,0,0
20,444,0,35,115,292,1,0,0,1,0,0,0,0,0
288,126,1,0,0,123,2,0,0,0,0,0,0,0,0
31,494,0,49,158,273,0,0,8,6,0,0,0,0,0
4,475,4,63,191,216,0,0,0,1,0,0,0,0,0
35,488,1,55,150,279,0,0,0,3,0,0,0,0,0
13,534,0,55,182,281,2,3,3,7,0,0,0,1,0
30,1680,14,133,448,1046,2,0,20,17,0,0,0,0,0
175,129,0,0,0,127,0,0,0,2,0,0,0,0,0
39,370,3,26,88,232,4,3,4,8,0,0,0,0,2
26,513,5,54,148,291,3,3,3,6,0,0,0,0,0
44,257,0,25,67,163,0,0,0,2,0,0,0,0,0
32,418,2,47,131,235,0,0,0,3,0,0,0,0,0
321,244,0,16,56,167,1,0,0,4,0,0,0,0,0
10,343,0,24,106,213,0,0,0,0,0,0,0,0,0
36,335,3,27,99,202,0,0,0,4,0,0,0,0,0

In [97]:
df

,암호화요양기호,요양기관명,종별코드,종별코드명,시도코드,시도코드명,시군구코드,시군구코드명,읍면동,우편번호,...,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수,좌표(X),좌표(Y)
0,JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,가톨릭대학교인천성모병원,1,상급종합,220000,인천,220003,인천부평구,부평동,21431,...,0,0,1,0,0,0,0,0,126.724899,37.484831
1,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,강릉아산병원,1,상급종합,320000,강원,320100,강릉시,NaN,25440,...,0,0,2,0,0,0,0,0,128.857841,37.818433
2,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,강북삼성병원,1,상급종합,110000,서울,110016,종로구,NaN,3181,...,0,0,4,0,0,0,0,0,126.967750,37.568408
3,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,건국대학교병원,1,상급종합,110000,서울,110023,광진구,NaN,5030,...,0,0,3,0,0,0,0,0,127.071828,37.540376
4,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,1,상급종합,230000,대구,230006,대구중구,NaN,41944,...,0,0,1,0,0,0,0,0,128.604703,35.866253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,JDU4MTI3MSM1MSMkMSMkMCMkMTMkNDgxOTYxIzExIyQxIy...,힘나는한의원,93,한의원,310000,경기,312300,김포시,NaN,10099,...,0,0,0,1,0,0,0,0,126.704889,37.632495
76245,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzUxIyQxIy...,힘내라한의원,93,한의원,110000,서울,110003,강서구,NaN,7526,...,0,0,0,2,0,0,0,0,126.855061,37.561526
76246,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxMzUxIzUxIyQxIy...,힘찬마디한의원,93,한의원,110000,서울,110002,강동구,천호동,5329,...,0,0,0,1,0,0,0,0,127.126346,37.538174
76247,JDQ4MTg4MSM1MSMkMSMkNCMkMTMkMzgxNzAyIzUxIyQxIy...,힘찬세상경희한의원,93,한의원,110000,서울,110014,용산구,한강로2가,4376,...,0,0,0,0,0,0,1,0,126.968167,37.530005
76248,JDQ4MTYyMiM4MSMkMSMkNCMkMTMkNDgxMzUxIzMxIyQxIy...,힘찬한의원,93,한의원,380000,경남,380500,진주시,NaN,52697,...,0,0,0,1,0,0,0,0,128.064558,35.178636

In [101]:
# 데이터 값 실수. 소수점 두째자리까지 표시

pd.options.display.float_format = '{:.2f}'.format

In [103]:
df.iloc[:, 14:28].describe()

,총의사수,의과일반의 인원수,의과인턴 인원수,의과레지던트 인원수,의과전문의 인원수,치과일반의 인원수,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수
count,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00,76249.00
mean,2.10,0.08,0.04,0.13,1.20,0.22,0.00,0.01,0.12,0.25,0.00,0.00,0.04,0.00
std,16.33,0.35,1.50,4.56,10.16,0.49,0.33,0.79,0.75,0.57,0.19,0.30,0.39,0.04
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,1680.00,20.00,180.00,547.00,1046.00,14.00,46.00,103.00,91.00,21.00,39.00,43.00,46.00,4.00

In [105]:
df.groupby('시도코드명')['총의사수'].sum()

시도코드명
강원      4030
경기     34644
경남      8354
경북      5535
광주      5403
대구      8646
대전      5332
부산     11771
서울     44470
세종시      758
울산      2710
인천      7717
전남      4766
전북      5495
제주      1738
충남      4948
충북      3817
Name: 총의사수, dtype: int64

In [106]:
df.groupby('시도코드명')['총의사수'].sum().max()

44470

In [107]:
df.groupby('시도코드명')['총의사수'].sum().min()

758

In [108]:
df.groupby('시도코드명')['총의사수'].sum().sort_values(ascending=0)

시도코드명
서울     44470
경기     34644
부산     11771
대구      8646
경남      8354
인천      7717
경북      5535
전북      5495
광주      5403
대전      5332
충남      4948
전남      4766
강원      4030
충북      3817
울산      2710
제주      1738
세종시      758
Name: 총의사수, dtype: int64

In [109]:
df.iloc[:, 14:28]

,총의사수,의과일반의 인원수,의과인턴 인원수,의과레지던트 인원수,의과전문의 인원수,치과일반의 인원수,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수
0,328,0,24,72,230,1,0,0,1,0,0,0,0,0
1,206,4,0,36,164,0,0,0,2,0,0,0,0,0
2,403,4,25,132,235,3,0,0,4,0,0,0,0,0
3,423,1,37,148,234,0,0,0,3,0,0,0,0,0
4,475,4,63,191,216,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,1,0,0,0,0,0,0,0,0,1,0,0,0,0
76245,2,0,0,0,0,0,0,0,0,2,0,0,0,0
76246,1,0,0,0,0,0,0,0,0,1,0,0,0,0
76247,1,0,0,0,0,0,0,0,0,0,0,0,1,0
76248,1,0,0,0,0,0,0,0,0,1,0,0,0,0

In [111]:
#의과 인턴, 레지던트 수
df.iloc[:, 16:18]

       의과인턴 인원수  의과레지던트 인원수
0            24          72
1             0          36
2            25         132
3            37         148
4            63         191
...         ...         ...
76244         0           0
76245         0           0
76246         0           0
76247         0           0
76248         0           0

[76249 rows x 2 columns]

In [114]:
df.iloc[:, 16:18].sum()

의과인턴 인원수      3131
의과레지던트 인원수    9667
dtype: int64

In [180]:
sum_data1 = df.groupby('시도코드명')[['의과인턴 인원수', '의과레지던트 인원수']].sum()

In [181]:
sum_data1

       의과인턴 인원수  의과레지던트 인원수
시도코드명
강원           79         267
경기          462        1638
경남          103         324
경북           19          46
광주          103         304
대구          185         635
대전          143         379
부산          225         653
서울         1368        4190
세종시           0           0
울산           26          90
인천          156         388
전남           49          90
전북          109         285
제주           17          68
충남           54         195
충북           33         115

In [183]:
sum_data1['합계'] = sum_data1.iloc[:,0:2].sum(axis=1)

In [184]:
sum_data1

       의과인턴 인원수  의과레지던트 인원수    합계
시도코드명
강원           79         267   346
경기          462        1638  2100
경남          103         324   427
경북           19          46    65
광주          103         304   407
대구          185         635   820
대전          143         379   522
부산          225         653   878
서울         1368        4190  5558
세종시           0           0     0
울산           26          90   116
인천          156         388   544
전남           49          90   139
전북          109         285   394
제주           17          68    85
충남           54         195   249
충북           33         115   148

In [112]:
# 치과 인턴, 레지던트 수
df.iloc[:, 20:22]

       치과인턴 인원수  치과레지던트 인원수
0             0           0
1             0           0
2             0           0
3             0           0
4             0           0
...         ...         ...
76244         0           0
76245         0           0
76246         0           0
76247         0           0
76248         0           0

[76249 rows x 2 columns]

In [115]:
df.iloc[:, 20:22].sum()

치과인턴 인원수      370
치과레지던트 인원수    916
dtype: int64

In [176]:
sum_data2 =df.groupby('시도코드명')[['치과인턴 인원수', '치과레지던트 인원수']].sum()

In [177]:
sum_data2

       치과인턴 인원수  치과레지던트 인원수
시도코드명
강원           18          54
경기           24          53
경남           28          57
경북            0           0
광주           51          80
대구           26          59
대전           14          31
부산            3           8
서울          151         448
세종시           0           0
울산            3           4
인천            3           3
전남            0           0
전북           25          58
제주            0           0
충남           24          60
충북            0           1

In [178]:
sum_data2['합계'] = sum_data2.iloc[:,0:2].sum(axis=1)

In [179]:
sum_data2

       치과인턴 인원수  치과레지던트 인원수   합계
시도코드명
강원           18          54   72
경기           24          53   77
경남           28          57   85
경북            0           0    0
광주           51          80  131
대구           26          59   85
대전           14          31   45
부산            3           8   11
서울          151         448  599
세종시           0           0    0
울산            3           4    7
인천            3           3    6
전남            0           0    0
전북           25          58   83
제주            0           0    0
충남           24          60   84
충북            0           1    1

In [113]:
# 한방 인턴, 레지던트 수
df.iloc[:, 24:26]

       한방인턴 인원수  한방레지던트 인원수
0             0           0
1             0           0
2             0           0
3             0           0
4             0           0
...         ...         ...
76244         0           0
76245         0           0
76246         0           0
76247         0           0
76248         0           0

[76249 rows x 2 columns]

In [116]:
df.iloc[:, 24:26].sum()

한방인턴 인원수      263
한방레지던트 인원수    380
dtype: int64

In [124]:
df.groupby('시도코드명')[['한방인턴 인원수', '한방레지던트 인원수']].sum()

       한방인턴 인원수  한방레지던트 인원수
시도코드명
강원            5           7
경기           30          65
경남           10          19
경북            6          11
광주           24           9
대구           10          17
대전           18          35
부산            7          31
서울           95         126
세종시           0           0
울산           13           0
인천            3           0
전남            9           7
전북           11          26
제주            0           0
충남           13          13
충북            9          14

In [130]:
df.groupby('시도코드명')[['한방인턴 인원수', '한방레지던트 인원수']].aggregate(['min','max','sum'])

      한방인턴 인원수         한방레지던트 인원수
           min max sum        min max  sum
시도코드명
강원           0   1   5          0   7    7
경기           0   6  30          0  17   65
경남           0   7  10          0  18   19
경북           0   2   6          0  10   11
광주           0  12  24          0   8    9
대구           0   5  10          0  17   17
대전           0  17  18          0  19   35
부산           0   4   7          0  17   31
서울           0  39  95          0  43  126
세종시          0   0   0          0   0    0
울산           0  13  13          0   0    0
인천           0   3   3          0   0    0
전남           0   4   9          0   6    7
전북           0   3  11          0  10   26
제주           0   0   0          0   0    0
충남           0   5  13          0  13   13
충북           0   3   9          0   9   14

In [142]:
sum_data3 = df.groupby('시도코드명')[['한방인턴 인원수', '한방레지던트 인원수']].sum()

In [172]:
sum_data3.iloc[:,0:2]

       한방인턴 인원수  한방레지던트 인원수
시도코드명
강원            5           7
경기           30          65
경남           10          19
경북            6          11
광주           24           9
대구           10          17
대전           18          35
부산            7          31
서울           95         126
세종시           0           0
울산           13           0
인천            3           0
전남            9           7
전북           11          26
제주            0           0
충남           13          13
충북            9          14

In [174]:
sum_data3['합계'] = sum_data3.iloc[:,0:2].sum(axis=1)

In [175]:
sum_data3

       한방인턴 인원수  한방레지던트 인원수   합계
시도코드명
강원            5           7   12
경기           30          65   95
경남           10          19   29
경북            6          11   17
광주           24           9   33
대구           10          17   27
대전           18          35   53
부산            7          31   38
서울           95         126  221
세종시           0           0    0
울산           13           0   13
인천            3           0    3
전남            9           7   16
전북           11          26   37
제주            0           0    0
충남           13          13   26
충북            9          14   23

In [185]:
df.iloc[:, 14:28]

,총의사수,의과일반의 인원수,의과인턴 인원수,의과레지던트 인원수,의과전문의 인원수,치과일반의 인원수,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수
0,328,0,24,72,230,1,0,0,1,0,0,0,0,0
1,206,4,0,36,164,0,0,0,2,0,0,0,0,0
2,403,4,25,132,235,3,0,0,4,0,0,0,0,0
3,423,1,37,148,234,0,0,0,3,0,0,0,0,0
4,475,4,63,191,216,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76244,1,0,0,0,0,0,0,0,0,1,0,0,0,0
76245,2,0,0,0,0,0,0,0,0,2,0,0,0,0
76246,1,0,0,0,0,0,0,0,0,1,0,0,0,0
76247,1,0,0,0,0,0,0,0,0,0,0,0,1,0
76248,1,0,0,0,0,0,0,0,0,1,0,0,0,0

In [196]:
df.iloc[:, [16,17,20,21,24,25]]

       의과인턴 인원수  의과레지던트 인원수  치과인턴 인원수  치과레지던트 인원수  한방인턴 인원수  한방레지던트 인원수
0            24          72         0           0         0           0
1             0          36         0           0         0           0
2            25         132         0           0         0           0
3            37         148         0           0         0           0
4            63         191         0           0         0           0
...         ...         ...       ...         ...       ...         ...
76244         0           0         0           0         0           0
76245         0           0         0           0         0           0
76246         0           0         0           0         0           0
76247         0           0         0           0         0           0
76248         0           0         0           0         0           0

[76249 rows x 6 columns]

In [199]:
#인턴
data11 = df.iloc[:, [16,20,24]]

In [200]:
data11

       의과인턴 인원수  치과인턴 인원수  한방인턴 인원수
0            24         0         0
1             0         0         0
2            25         0         0
3            37         0         0
4            63         0         0
...         ...       ...       ...
76244         0         0         0
76245         0         0         0
76246         0         0         0
76247         0         0         0
76248         0         0         0

[76249 rows x 3 columns]

In [210]:
data111 = df.groupby('시도코드명')[['의과인턴 인원수', '치과인턴 인원수', '한방인턴 인원수']].sum()

In [211]:
data111

       의과인턴 인원수  치과인턴 인원수  한방인턴 인원수
시도코드명
강원           79        18         5
경기          462        24        30
경남          103        28        10
경북           19         0         6
광주          103        51        24
대구          185        26        10
대전          143        14        18
부산          225         3         7
서울         1368       151        95
세종시           0         0         0
울산           26         3        13
인천          156         3         3
전남           49         0         9
전북          109        25        11
제주           17         0         0
충남           54        24        13
충북           33         0         9

In [212]:
data111['합계'] = data111.iloc[:,0:3].sum(axis=1)

In [213]:
data111

       의과인턴 인원수  치과인턴 인원수  한방인턴 인원수    합계
시도코드명
강원           79        18         5   102
경기          462        24        30   516
경남          103        28        10   141
경북           19         0         6    25
광주          103        51        24   178
대구          185        26        10   221
대전          143        14        18   175
부산          225         3         7   235
서울         1368       151        95  1614
세종시           0         0         0     0
울산           26         3        13    42
인천          156         3         3   162
전남           49         0         9    58
전북          109        25        11   145
제주           17         0         0    17
충남           54        24        13    91
충북           33         0         9    42

In [221]:
data11 = df.groupby('시도코드명')[['의과인턴 인원수', '치과인턴 인원수', '한방인턴 인원수']].sum()

In [222]:
data11

       의과인턴 인원수  치과인턴 인원수  한방인턴 인원수
시도코드명
강원           79        18         5
경기          462        24        30
경남          103        28        10
경북           19         0         6
광주          103        51        24
대구          185        26        10
대전          143        14        18
부산          225         3         7
서울         1368       151        95
세종시           0         0         0
울산           26         3        13
인천          156         3         3
전남           49         0         9
전북          109        25        11
제주           17         0         0
충남           54        24        13
충북           33         0         9

In [225]:
# 지역별 인턴수
data11.sum(axis=1)

시도코드명
강원      102
경기      516
경남      141
경북       25
광주      178
대구      221
대전      175
부산      235
서울     1614
세종시       0
울산       42
인천      162
전남       58
전북      145
제주       17
충남       91
충북       42
dtype: int64

In [229]:
data11.sum(axis=1).sort_values(ascending=0)

시도코드명
서울     1614
경기      516
부산      235
대구      221
광주      178
대전      175
인천      162
전북      145
경남      141
강원      102
충남       91
전남       58
울산       42
충북       42
경북       25
제주       17
세종시       0
dtype: int64

In [201]:
#레지
data22 = df.iloc[:, [17,21,25]]

In [202]:
data22

       의과레지던트 인원수  치과레지던트 인원수  한방레지던트 인원수
0              72           0           0
1              36           0           0
2             132           0           0
3             148           0           0
4             191           0           0
...           ...         ...         ...
76244           0           0           0
76245           0           0           0
76246           0           0           0
76247           0           0           0
76248           0           0           0

[76249 rows x 3 columns]

In [214]:
data222 = df.groupby('시도코드명')[['의과레지던트 인원수', '치과레지던트 인원수', '한방레지던트 인원수']].sum()

In [215]:
data222

       의과레지던트 인원수  치과레지던트 인원수  한방레지던트 인원수
시도코드명
강원            267          54           7
경기           1638          53          65
경남            324          57          19
경북             46           0          11
광주            304          80           9
대구            635          59          17
대전            379          31          35
부산            653           8          31
서울           4190         448         126
세종시             0           0           0
울산             90           4           0
인천            388           3           0
전남             90           0           7
전북            285          58          26
제주             68           0           0
충남            195          60          13
충북            115           1          14

In [216]:
data222['합계'] = data222.iloc[:,0:3].sum(axis=1)

In [217]:
data222

       의과레지던트 인원수  치과레지던트 인원수  한방레지던트 인원수    합계
시도코드명
강원            267          54           7   328
경기           1638          53          65  1756
경남            324          57          19   400
경북             46           0          11    57
광주            304          80           9   393
대구            635          59          17   711
대전            379          31          35   445
부산            653           8          31   692
서울           4190         448         126  4764
세종시             0           0           0     0
울산             90           4           0    94
인천            388           3           0   391
전남             90           0           7    97
전북            285          58          26   369
제주             68           0           0    68
충남            195          60          13   268
충북            115           1          14   130

In [218]:
data12 = df.groupby('시도코드명')[['의과레지던트 인원수', '치과레지던트 인원수', '한방레지던트 인원수']].sum()

In [219]:
data12

       의과레지던트 인원수  치과레지던트 인원수  한방레지던트 인원수
시도코드명
강원            267          54           7
경기           1638          53          65
경남            324          57          19
경북             46           0          11
광주            304          80           9
대구            635          59          17
대전            379          31          35
부산            653           8          31
서울           4190         448         126
세종시             0           0           0
울산             90           4           0
인천            388           3           0
전남             90           0           7
전북            285          58          26
제주             68           0           0
충남            195          60          13
충북            115           1          14

In [220]:
# 지역별 레지던트 수
data12.sum(axis=1)

시도코드명
강원      328
경기     1756
경남      400
경북       57
광주      393
대구      711
대전      445
부산      692
서울     4764
세종시       0
울산       94
인천      391
전남       97
전북      369
제주       68
충남      268
충북      130
dtype: int64

In [230]:
data12.sum(axis=1).sort_values(ascending=0)

시도코드명
서울     4764
경기     1756
대구      711
부산      692
대전      445
경남      400
광주      393
인천      391
전북      369
강원      328
충남      268
충북      130
전남       97
울산       94
제주       68
경북       57
세종시       0
dtype: int64

In [ ]:
# 연습문제

In [ ]:
df['시도코드명'] == '인천'

In [ ]:
df.loc[df['시도코드명'] == '인천']

In [ ]:
incheon = df.loc[df['시도코드명'] == '인천']

In [ ]:
incheon['시군구코드명'].value_counts()

In [ ]:
data1 = incheon['시군구코드명'].value_counts()

In [ ]:
data1.describe()

In [ ]:
data1